<div class="card" [ngClass]="{'mb-3': hasMarginBottom}">
  <div class="card-body d-flex flex-column"
       [ngClass]="{
                   'flex-md-row-reverse': isImgRight && !isMobile,
                   'flex-md-row': !isImgRight || isMobile
                  }">
    <img class="card-img w-100 w-md-25"
         [src]="'assets/cultural/' + card.name">
    <div class="py-3 py-md-0 px-0 px-md-3 card-inner">
      <h5 class="card-title">{{card.title}}</h5>
      <p class="card-text">{{card.description}}</p>
    </div>
  </div>
</div>
