[nz-carousel-content] {
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.carousel-wrapper {
  max-width: 600px;
}

.carousel-item-border {
  border: 3px solid white;
  float: left;
  margin-right: 1rem;
}

p {
  display: inline;
}
