.box{
  background-color: orange;
  border-radius: 5px;
  p{
    font-weight: bold;
    padding: 8px;
  }
}

.row{
  .frame{
    border-width: 0;
    padding: 0 12px 12px 0;
  }
}

.image{
  padding: 0 12px 12px 0;
  img{
    height: auto;
    width: 100%;
  }
}
