<div class="animated fadeIn">
  <h3 i18n>Student Contests</h3>
  <ng-container *ngIf="videos.length">
    <div class="box">
      <p i18n>VIDEOS</p>
    </div>
    <div class="row" style="margin: 0 -12px 0 0">
      <iframe *ngFor="let item of videos" width="560" height="315" appSrc [url]="item"
              allowfullscreen class="col-md-6 frame"></iframe>
    </div>
  </ng-container>
  <ng-container *ngIf="photos.length">
    <div class="box">
      <p i18n>PHOTOS</p>
    </div>
    <div class="row" style="margin: 0 -12px 0 0">
      <div *ngFor="let item of photos" class="col-md-6 image">
        <img [src]="item" >
      </div>
    </div>
  </ng-container>
</div>
