<div class="animated fadeIn">
  <h3 i18n class="mb-4">Program</h3>
  <nz-tabset [(nzSelectedIndex)]="selectedTab">
    <nz-tab [nzTitle]="pagesArr.program[0]" nzDisabled="false" (nzSelect)="onTab(0)">
      <app-academic [isTotal]="true"></app-academic>
    </nz-tab>
    <nz-tab [nzTitle]="pagesArr.program[1]" nzDisabled="false" (nzSelect)="onTab(1)">
      <app-cultural></app-cultural>
    </nz-tab>
  </nz-tabset>
</div>

