.overlay {
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  cursor: pointer;
}

.inner-content {
  padding: 24px;
  background: #fff;

  margin: 80px 16px 0 16px
}

.collapsed {
  margin-right: 5rem;
}

.not-collapsed {
  margin-right: 12.5rem;
}

.logo-style {
  max-width: 3rem;
  margin: 10px;
  max-height: 3rem;
}

.label-width-close {
  width: calc(100% - 6rem - 60px)
}

.label-width-open {
  width: calc(100% - 6rem - 210px)
}

.image-style {
  max-width: 3rem;
  margin: 10px;
  max-height: 3rem !important;
}

.font-size {
  font-size: 1.4rem;
}

.nav-bar-container {
  width: 200px;
  position: fixed;
}
