<nz-layout class="animated fadeIn">
  <nz-sider nzCollapsible
            style="z-index: 10"
            [nzCollapsedWidth]="isMobile ? 0 : 80"
            [ngClass]="{'mobile-sider': isMobile}"
            [(nzCollapsed)]="isCollapsed">
    <div [ngClass]="{'nav-bar-container': !isMobile}">
      <a href="http://www.imec.msu.ru/" target="_blank">
        <img alt="logo" class="image-style ml-4 mr-2" src="assets/imec.png">
      </a>
      <app-sider-nav [pagesList]="pagesList"
                     [isCollapsed]="isCollapsed">
      </app-sider-nav>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header class="d-flex" [ngClass]="{'p-0': isMobile}">
      <a *ngIf="isMobile" href="http://www.imec.msu.ru/" target="_blank"
         class="mx-2">
        <img alt="logo" class="logo-style" src="assets/imec.png">
      </a>
      <div class="mt-2"
           [ngClass]="{
                            'label-width-close': isCollapsed || isMobile,
                            'label-width-open': !isCollapsed && !isMobile
                          }">
        <h6 i18n class="text-white align-middle cursor-auto"
            [ngClass]="{
                            'mb-0': !isMobile,
                            'font-size': isMobile
                         }">
          International Summer School
        </h6>
        <h5 *ngIf="!isMobile && !isPad" i18n
            class="cursor-auto text-white mb-0 text-nowrap">
          Computer Technologies of Engineering Mechanical Problems
        </h5>
        <h6 *ngIf="isPad" i18n
            class="cursor-auto text-white ml-5 mb-0">
          Computer Technologies of Engineering Mechanical Problems
        </h6>
      </div>
      <a href="https://www.msu.ru/en/" target="_blank"
         style="height: 64px"
         class="ml-auto"
         [ngClass]="{
                        'collapsed': isCollapsed && !isMobile,
                        'not-collapsed': !isCollapsed && !isMobile
                       }">
        <img alt="logo" class="logo-style" src="assets/msu.png">
      </a>
    </nz-header>
    <div class="inner-content" [style.minHeight]=" isMobile ? 'calc(100% - 180px)' : 'calc(100% - 136px)'">
      <router-outlet></router-outlet>
      <div [ngClass]="{'overlay': isMobile && !isCollapsed}"></div>
    </div>
    <nz-footer class="flex-md-row -row-flex-center row" style="justify-content: center">
      <div i18n>Our contacts: </div>
      <div style="margin: 0 24px 0 12px"><span i18n style="font-style: italic">Telephone: </span>+79857824373</div>
      <div style="margin: 0 12px"><span i18n style="font-style: italic">E-mail: </span>klimina@imec.msu.ru</div>
      <div style="margin: 0 12px"><span i18n style="font-style: italic">Tel./fax: </span>+74959395478</div>
    </nz-footer>
  </nz-layout>
</nz-layout>
