$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$cyan:    #77B2C5 !default;
$purple:  #6E5C97 !default;
$blue:    #275793 !default;
$light-red:  #ef6101 !default;
$orange:     #fdac07 !default;
$green:      #47802b !default;
$teal:       #045658 !default;
$dark-green: #03161d !default;

$primary:       $light-red !default;
$secondary:     $teal !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $light-red !default;
$light:         $gray-100 !default;
$dark:          $dark-green !default;
