<div class="animated fadeIn">
  <h3 i18n>Gallery</h3>
  <ul class="timeline">
    <li *ngFor="let gallery of galleries let i = index let odd = odd"
        [ngClass]="{'timeline-inverted': odd}">
      <div class="timeline-badge">
        <i nz-icon nzType="check" nzTheme="outline"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{it[i].label.toString()}}</h4>
          <div class="animated fadeIn">
            <ngx-gallery [options]="galleryOptions" [images]="gallery"></ngx-gallery>
          </div>
        </div>
        <div class="timeline-body">
          <p>{{yearDescription[i].about}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
