<div class="animated fadeIn">
  <h3 i18n id="aboutAs">About Us</h3>
  <div class="row">
    <div *ngFor="let item of aboutUs" class="col-md-4" style="margin-bottom: 8px">
      <nz-card [nzCover]="coverTemplate">
        <nz-card-meta
          [nzTitle]="item.name"
          [nzDescription]="descriptionTemplate"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" [src]="item.photo"/>
      </ng-template>
      <ng-template #descriptionTemplate>
        <div style="line-height: 1.4">
          {{item.description}}
        </div>
        <div  style="margin-top: 14px">
          <div *ngIf="item.phone" class="contacts"><span i18n>Telephone: </span>{{item.phone}}</div>
          <div *ngIf="item.email" class="contacts"><span i18n>Email: </span>{{item.email}}</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
