<div class="animated fadeIn">
  <nz-calendar class="calendar"
               [ngClass]="{'mobile': isMobile}"
                [nzDateCell]="dateCellTpl"
               [(ngModel)]="selectedDate"
               [(nzMode)]="mode"
               (nzSelectChange)="onClick()">
  </nz-calendar>
  <ng-template #dateCellTpl let-date>
    <div class="min-h-100" (click)="onClick()">
      <i *ngIf="includes(days, +date)" nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
    </div>
  </ng-template>


  <nz-modal [nzTitle]="modalTitle"
            [(nzVisible)]="isVisible"
            (nzOnCancel)="isVisible = false"
            (nzOnOk)="isVisible = false">
    <ng-container *ngIf="program && program.length else freeDayTmp">
      <p *ngFor="let item of program let last = last" [ngClass]="{'mb-0': last}">{{item}}</p>
    </ng-container>
  </nz-modal>
  <ng-template i18n #freeDayTmp>
    Free day :)
  </ng-template>
</div>
