<div class="animated fadeIn">
  <h3 i18n class="mb-4">Program</h3>
  <nz-tabset [(nzSelectedIndex)]="selectedTab">
    <nz-tab [nzTitle]="pagesArr.schedule[0]" (nzSelect)="onTab(0)">
      <app-calendar ></app-calendar>
    </nz-tab>
    <nz-tab [nzTitle]="pagesArr.schedule[1]" (nzSelect)="onTab(1)">
      <app-academic [isTotal]="false"></app-academic>
    </nz-tab>
  </nz-tabset>
</div>

