.center{
  display: flex;
  justify-content: center;
  .grid {
    display: grid;
    grid-template-columns: 100px min(1000px, calc(100% - 100px));
    margin-bottom: 80px;

    .photo {
      height: 100px;
      width: 100px;
      border-radius: 28px;
      object-fit: cover;
      object-position: center;
    }

    .message {
      margin-top: 112px;
      border-radius: 8px;
      min-height: 100px;
      max-width: 1000px;
      background-color: orange;

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 30px solid orange;
        border-right: 50px solid transparent;
        top: -42px;
        left: 0;
        position: relative;
      }

      .title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
      }

      .text {
        margin: 12px;
      }

      .dates {
        font-size: 12px;
        font-style: italic;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}


