<div class="animated fadeIn">
  <h3 i18n>Feedback</h3>
  <p style="font-weight: bold"><span i18n>You can leave your feedback</span>
    <a href="https://forms.gle/KTtJ1ha8XaW9zZDq8" target="_blank" i18n>
      here</a> )</p>
    <div class="center" *ngFor="let item of feedback">
      <div class="grid">
        <img class="photo" [src]="item.photo">
        <div class="message">
          <p class="title">{{item.name}}</p>
          <p class="dates">{{item.school}}</p>
          <div class="text">{{item.text}}</div>
        </div>
      </div>
    </div>
</div>
