<div class="animated fadeIn">
  <nz-table #colSpanTable nzSize="small" nzBordered
            [nzData]="listOfData"
            [nzScroll]="{ x: '600px' }"
            [nzShowPagination]="false">
    <thead>
    <tr>
      <th i18n *ngIf="!isTotal">Date</th>
      <th i18n *ngIf="!isTotal">Time</th>
      <th i18n>Lecturer</th>
      <th i18n>Title</th>
      <th i18n *ngIf="isTotal">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of colSpanTable.data let index = index">
      <td *ngIf="!(index > 0 && (colSpanTable.data[index - 1]['date'] === data['date'])) && !isTotal"
          [attr.rowspan]="data.width">{{ data['date'] | dateFormatPipe | date: 'd MMM'}}
      </td>
      <td *ngIf="!isTotal">{{ data['time'] }}</td>
      <td>{{ data['lecturer'] }}</td>
      <td>{{ data['title'] }}</td>
      <td *ngIf="isTotal">{{ data['description'] }}</td>
    </tr>
    </tbody>
  </nz-table>
  <button *ngIf="!isTotal" nz-button nzType="primary" nzGhost nzSize="small" class="mt-3" (click)="export()">
    <i i18n nz-icon type="download" id="download"></i><span i18n>Download</span>
  </button>
</div>
