<div class="animated fadeIn">
  <nz-collapse>
    <nz-collapse-panel [nzHeader]="program.basic" nzActive= "false">
      <app-program-list-card *ngFor="let card of cardBasic let odd = odd let last = last"
                             [card]="card"
                             [isImgRight]="odd"
                             [hasMarginBottom]="!last">
      </app-program-list-card>
    </nz-collapse-panel>
    <nz-collapse-panel [nzHeader]="program.optional" nzActive= "false">
      <app-program-list-card *ngFor="let card of cardOptional let odd = odd let last = last"
                             [card]="card"
                             [isImgRight]="odd"
                             [hasMarginBottom]="!last">
      </app-program-list-card>
    </nz-collapse-panel>
  </nz-collapse>
</div>
