.ant-fullcalendar-fullscreen .ant-fullcalendar-content {
  margin-top: -24px;
  height: 100%
}

.calendar nz-radio-group.ant-radio-group {
  display: none;
}

td.ant-fullcalendar-cell {
  &:nth-child(6n) {
    .ant-fullcalendar-value {
      color: #ef6405;
    }
  }

  &:nth-child(7n) {
    .ant-fullcalendar-value {
      color: #ef6405;
    }
  }
}
.mobile{
  i.anticon.anticon-exclamation-circle{
    vertical-align: text-top;
    font-size: 6px;
  }
}
