nz-header {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 10000;
}


//nz-layout {
//  min-height: 100vh;
//}

nz-header .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.ant-layout-footer {
  text-align: center;
  margin-top: auto;
  padding: 14px 50px;
}

.mobile-sider {
  height: 100%;
  position: fixed;
  z-index: 5;
}

.ant-layout-sider-zero-width-trigger {
  top: 72px;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 34px;
}

nz-layout.animated.fadeIn.ant-layout.ant-layout-has-sider{
  min-height: 100%;
}

nz-sider.ant-layout-sider.mobile-sider {
  z-index: 10000!important;
}
