@import '~node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import '_variables';
@import '_button';
@import '_layout';
@import '_icon';
@import '_card';
@import '_calendar';
@import '_collapse';
@import '_carusel';
@import '_table';
@import '_menu';

.slick-track {
  height: 100% !important;
}

.slick-list {
  height: 100% !important;
}

.slick-slide {
  height: 100% !important;
}
